{
   "type": "doc",
   "content": [
      {
         "type": "layoutSection",
         "attrs": {
            "localId": "70053f42-b805-4e9c-9026-062da65df49c"
         },
         "marks": [
            {
               "type": "breakout",
               "attrs": {
                  "mode": "wide",
                  "width": 1800
               }
            }
         ],
         "content": [
            {
               "type": "layoutColumn",
               "attrs": {
                  "width": 33.33,
                  "localId": "8f976eb5-c731-4803-8a6d-4673f9389ab0"
               },
               "content": [
                  {
                     "type": "heading",
                     "attrs": {
                        "level": 2,
                        "localId": "19c07aa6-5533-4c5a-b12a-4126038c724f"
                     },
                     "content": [
                        {
                           "text": "Pages",
                           "type": "text"
                        }
                     ]
                  },
                  {
                     "type": "extension",
                     "attrs": {
                        "layout": "default",
                        "extensionType": "com.atlassian.confluence.macro.core",
                        "extensionKey": "children",
                        "parameters": {
                           "macroParams": {
                              "allChildren": {
                                 "value": "true"
                              }
                           },
                           "macroMetadata": {
                              "macroId": {
                                 "value": "937de3d1-c8ee-42f0-87f2-bc308608e19b"
                              },
                              "schemaVersion": {
                                 "value": "2"
                              },
                              "title": "Child pages"
                           }
                        },
                        "localId": "2ac0e54e-009b-4e7e-8ba3-9ef326001e9c"
                     }
                  }
               ]
            },
            {
               "type": "layoutColumn",
               "attrs": {
                  "width": 33.33,
                  "localId": "ac335a8b-434c-4b38-8a2d-b9ccf9052fb5"
               },
               "content": [
                  {
                     "type": "heading",
                     "attrs": {
                        "level": 2,
                        "localId": "c3fa2cfc-c720-4f17-aa33-9953563eac90"
                     },
                     "content": [
                        {
                           "text": "Contacts",
                           "type": "text"
                        }
                     ]
                  },
                  {
                     "type": "table",
                     "attrs": {
                        "layout": "align-start",
                        "width": 1800.0,
                        "localId": "41fabd0c-dd7c-4f07-a49c-b56e57639eb9"
                     },
                     "content": [
                        {
                           "type": "tableRow",
                           "attrs": {
                              "localId": "9fb10ec0-0e41-4c02-a484-7e89b339179f"
                           },
                           "content": [
                              {
                                 "type": "tableHeader",
                                 "attrs": {
                                    "colspan": 1,
                                    "background": "#deebff",
                                    "rowspan": 1,
                                    "colwidth": [
                                       109.0
                                    ],
                                    "localId": "2d8032d1-0b77-4f40-95e9-e15cf87e30bf"
                                 },
                                 "content": [
                                    {
                                       "type": "paragraph",
                                       "attrs": {
                                          "localId": "36079f71-a1ca-4b6b-99b1-9f34229decc4"
                                       },
                                       "content": [
                                          {
                                             "text": "Project lead",
                                             "type": "text"
                                          }
                                       ]
                                    }
                                 ]
                              },
                              {
                                 "type": "tableCell",
                                 "attrs": {
                                    "colspan": 1,
                                    "rowspan": 1,
                                    "colwidth": [
                                       351.0
                                    ],
                                    "localId": "b350f8d9-30a3-42b5-a2c1-1b3999e8660d"
                                 },
                                 "content": [
                                    {
                                       "type": "paragraph",
                                       "attrs": {
                                          "localId": "324d51f1-85f4-4b09-9d4c-c82852d5c7ae"
                                       },
                                       "content": [
                                          {
                                             "type": "mention",
                                             "attrs": {
                                                "id": "557058:088950a8-e087-4d51-a2ac-464c10b86b08",
                                                "localId": "98b32aff-71b8-4302-96e7-320db2e19c37",
                                                "text": "@Danny Kolditz"
                                             }
                                          },
                                          {
                                             "text": " ",
                                             "type": "text"
                                          }
                                       ]
                                    }
                                 ]
                              }
                           ]
                        },
                        {
                           "type": "tableRow",
                           "attrs": {
                              "localId": "e8062c95-e941-40fc-b3ec-e8931cb48732"
                           },
                           "content": [
                              {
                                 "type": "tableHeader",
                                 "attrs": {
                                    "colspan": 1,
                                    "background": "#deebff",
                                    "rowspan": 1,
                                    "colwidth": [
                                       109.0
                                    ],
                                    "localId": "b3265dae-d6fb-4d79-89a0-2944dae6e728"
                                 },
                                 "content": [
                                    {
                                       "type": "paragraph",
                                       "attrs": {
                                          "localId": "428ce0cb-02e4-4604-b40b-19947f0e2b81"
                                       },
                                       "content": [
                                          {
                                             "text": "Customer",
                                             "type": "text"
                                          }
                                       ]
                                    }
                                 ]
                              },
                              {
                                 "type": "tableCell",
                                 "attrs": {
                                    "colspan": 1,
                                    "rowspan": 1,
                                    "colwidth": [
                                       351.0
                                    ],
                                    "localId": "eb282558-f71f-42b1-957a-5ac6ba23406d"
                                 },
                                 "content": [
                                    {
                                       "type": "paragraph",
                                       "attrs": {
                                          "localId": "3863837f-bad5-46b4-9b9e-e19ca151dad5"
                                       },
                                       "content": [
                                          {
                                             "text": "Firma XYZ",
                                             "type": "text"
                                          }
                                       ]
                                    },
                                    {
                                       "type": "paragraph",
                                       "attrs": {
                                          "localId": "3217b6e2-711a-4a86-8730-7e2529000180"
                                       },
                                       "content": [
                                          {
                                             "text": "Frau Mustermann",
                                             "type": "text"
                                          }
                                       ]
                                    },
                                    {
                                       "type": "paragraph",
                                       "attrs": {
                                          "localId": "ff9de9fb-bda0-4e59-90d9-af7b5ccb91d3"
                                       },
                                       "content": [
                                          {
                                             "text": "mustermann@firmaxyz.de",
                                             "type": "text",
                                             "marks": [
                                                {
                                                   "type": "link",
                                                   "attrs": {
                                                      "href": "mailto:mustermann@firmaxyz.de"
                                                   }
                                                }
                                             ]
                                          }
                                       ]
                                    }
                                 ]
                              }
                           ]
                        }
                     ]
                  }
               ]
            },
            {
               "type": "layoutColumn",
               "attrs": {
                  "width": 33.33,
                  "localId": "957ffbf4-7943-4d78-926f-46eee37d5856"
               },
               "content": [
                  {
                     "type": "heading",
                     "attrs": {
                        "level": 2,
                        "localId": "cf9444a1-fd60-4786-b0cb-be6b43b9e07b"
                     },
                     "content": [
                        {
                           "text": "Links",
                           "type": "text"
                        }
                     ]
                  },
                  {
                     "type": "table",
                     "attrs": {
                        "layout": "align-start",
                        "width": 1800.0,
                        "localId": "a2830122-1dfc-4afe-b607-73105f4ed4ba"
                     },
                     "content": [
                        {
                           "type": "tableRow",
                           "attrs": {
                              "localId": "926216a2-7ebf-41fd-b8bb-b2068ff7d9a4"
                           },
                           "content": [
                              {
                                 "type": "tableHeader",
                                 "attrs": {
                                    "colspan": 1,
                                    "background": "#deebff",
                                    "rowspan": 1,
                                    "colwidth": [
                                       109.0
                                    ],
                                    "localId": "0f5a34ff-84b8-40ee-a0e8-767647639ae1"
                                 },
                                 "content": [
                                    {
                                       "type": "paragraph",
                                       "attrs": {
                                          "localId": "b021fe85-a220-42f3-b283-9ecfee21672f"
                                       },
                                       "content": [
                                          {
                                             "text": "Jira",
                                             "type": "text"
                                          }
                                       ]
                                    }
                                 ]
                              },
                              {
                                 "type": "tableCell",
                                 "attrs": {
                                    "colspan": 1,
                                    "rowspan": 1,
                                    "colwidth": [
                                       351.0
                                    ],
                                    "localId": "b98d3a50-25e7-46d1-9ca1-c94d63a164ab"
                                 },
                                 "content": [
                                    {
                                       "type": "paragraph",
                                       "attrs": {
                                          "localId": "2daf01e5-b5e7-42a1-903e-d56e39676622"
                                       },
                                       "content": [
                                          {
                                             "text": "https://triogroup.atlassian.net/",
                                             "type": "text",
                                             "marks": [
                                                {
                                                   "type": "link",
                                                   "attrs": {
                                                      "href": "https://triogroup.atlassian.net/"
                                                   }
                                                }
                                             ]
                                          }
                                       ]
                                    }
                                 ]
                              }
                           ]
                        },
                        {
                           "type": "tableRow",
                           "attrs": {
                              "localId": "a588e3af-64ab-49b0-91f3-250ec9cda788"
                           },
                           "content": [
                              {
                                 "type": "tableHeader",
                                 "attrs": {
                                    "colspan": 1,
                                    "background": "#deebff",
                                    "rowspan": 1,
                                    "colwidth": [
                                       109.0
                                    ],
                                    "localId": "086bdf5d-5b9b-4fb1-96fe-1a14ac2eb7ae"
                                 },
                                 "content": [
                                    {
                                       "type": "paragraph",
                                       "attrs": {
                                          "localId": "fb73e1a9-c00a-4259-a141-677fc1174ea1"
                                       },
                                       "content": [
                                          {
                                             "text": "Sharepoint",
                                             "type": "text"
                                          }
                                       ]
                                    }
                                 ]
                              },
                              {
                                 "type": "tableCell",
                                 "attrs": {
                                    "colspan": 1,
                                    "rowspan": 1,
                                    "colwidth": [
                                       351.0
                                    ],
                                    "localId": "8e47f2d2-b9a8-4871-a6e3-e1f50a6dd8c6"
                                 },
                                 "content": [
                                    {
                                       "type": "paragraph",
                                       "attrs": {
                                          "localId": "6fa120ef-4f39-43ab-8d0e-af4dda7b92d8"
                                       },
                                       "content": [
                                          {
                                             "text": "https://triogroupgmbh.sharepoint.com",
                                             "type": "text",
                                             "marks": [
                                                {
                                                   "type": "link",
                                                   "attrs": {
                                                      "href": "https://triogroupgmbh.sharepoint.com"
                                                   }
                                                }
                                             ]
                                          }
                                       ]
                                    }
                                 ]
                              }
                           ]
                        },
                        {
                           "type": "tableRow",
                           "attrs": {
                              "localId": "e798ca0d-4fb7-42cb-9d8e-9904fe5257d9"
                           },
                           "content": [
                              {
                                 "type": "tableHeader",
                                 "attrs": {
                                    "colspan": 1,
                                    "background": "#deebff",
                                    "rowspan": 1,
                                    "colwidth": [
                                       109.0
                                    ],
                                    "localId": "7a3f8339-799e-405a-a56f-e8775df0c84c"
                                 },
                                 "content": [
                                    {
                                       "type": "paragraph",
                                       "attrs": {
                                          "localId": "d5e34658-6c54-4a63-ae18-862f6da8dc32"
                                       },
                                       "content": [
                                          {
                                             "text": "Dropbox",
                                             "type": "text"
                                          }
                                       ]
                                    }
                                 ]
                              },
                              {
                                 "type": "tableCell",
                                 "attrs": {
                                    "colspan": 1,
                                    "rowspan": 1,
                                    "colwidth": [
                                       351.0
                                    ],
                                    "localId": "55217b62-5dab-410f-a00b-02715bacace6"
                                 },
                                 "content": [
                                    {
                                       "type": "paragraph",
                                       "attrs": {
                                          "localId": "16febf72-b88d-4b38-8cba-3a3a3d39d438"
                                       },
                                       "content": [
                                          {
                                             "text": "https://dropbox.com",
                                             "type": "text",
                                             "marks": [
                                                {
                                                   "type": "link",
                                                   "attrs": {
                                                      "href": "https://dropbox.com"
                                                   }
                                                }
                                             ]
                                          }
                                       ]
                                    }
                                 ]
                              }
                           ]
                        },
                        {
                           "type": "tableRow",
                           "attrs": {
                              "localId": "b05e1986-8a1c-463e-b21f-cdc6f5c3bf08"
                           },
                           "content": [
                              {
                                 "type": "tableHeader",
                                 "attrs": {
                                    "colspan": 1,
                                    "background": "#deebff",
                                    "rowspan": 1,
                                    "colwidth": [
                                       109.0
                                    ],
                                    "localId": "9c95398f-6e11-4129-992b-37b77f72b4ed"
                                 },
                                 "content": [
                                    {
                                       "type": "paragraph",
                                       "attrs": {
                                          "localId": "a3123dcc-91fc-4586-8616-f35e64223850"
                                       },
                                       "content": [
                                          {
                                             "text": "Passwordstate",
                                             "type": "text"
                                          }
                                       ]
                                    }
                                 ]
                              },
                              {
                                 "type": "tableCell",
                                 "attrs": {
                                    "colspan": 1,
                                    "rowspan": 1,
                                    "colwidth": [
                                       351.0
                                    ],
                                    "localId": "6e62aec5-2437-43bc-8b1d-d4666331e808"
                                 },
                                 "content": [
                                    {
                                       "type": "paragraph",
                                       "attrs": {
                                          "localId": "c431e541-e17c-4fa5-a4c7-f493a4466bfe"
                                       },
                                       "content": [
                                          {
                                             "text": "https://passwords.trio-group.net",
                                             "type": "text",
                                             "marks": [
                                                {
                                                   "type": "link",
                                                   "attrs": {
                                                      "href": "https://passwords.trio-group.net"
                                                   }
                                                }
                                             ]
                                          }
                                       ]
                                    }
                                 ]
                              }
                           ]
                        }
                     ]
                  }
               ]
            }
         ]
      },
      {
         "type": "rule",
         "attrs": {
            "localId": "fdd330bb-256d-47e4-8a9e-05107544f94a"
         }
      },
      {
         "type": "heading",
         "attrs": {
            "level": 2,
            "localId": "0b24dbd4-44c8-4c3b-adcf-ba0ebe59e075"
         },
         "content": [
            {
               "text": "Jira work items",
               "type": "text"
            }
         ]
      },
      {
         "type": "blockCard",
         "attrs": {
            "datasource": {
               "id": "d8b75300-dfda-4519-b6cd-e49abbd50401",
               "parameters": {
                  "cloudId": "5b2df632-e1f2-429a-b5de-200c0e4a36e3",
                  "jql": "project = \\"TRIA4250001\\" AND issuetype = Epic ORDER BY issuekey DESC"
               },
               "views": [
                  {
                     "type": "table",
                     "properties": {
                        "columns": [
                           {
                              "key": "issuetype"
                           },
                           {
                              "key": "key",
                              "width": 181
                           },
                           {
                              "key": "summary",
                              "width": 864
                           },
                           {
                              "key": "assignee",
                              "width": 212
                           },
                           {
                              "key": "priority",
                              "width": 136
                           },
                           {
                              "key": "status",
                              "width": 150
                           },
                           {
                              "key": "updated"
                           }
                        ]
                     }
                  }
               ]
            },
            "localId": "3b59947c-ba71-4c9f-bbec-e47b7912a60c",
            "url": "https://triogroup.atlassian.net/issues/?jql=project%20%3D%20%22TRIA4250001%22%20AND%20issuetype%20%3D%20Epic%20ORDER%20BY%20issuekey%20DESC"
         }
      },
      {
         "type": "rule",
         "attrs": {
            "localId": "0ae593cc-2235-4ef3-9cb7-1f59502b0605"
         }
      },
      {
         "type": "paragraph",
         "attrs": {
            "localId": "865f4ab7-d3b7-4f6d-aec0-55c93d8374e3"
         }
      },
      {
         "type": "paragraph",
         "attrs": {
            "localId": "3a8bf1de-d9b6-4a16-9b39-c3a6b61061ae"
         }
      }
   ],
   "version": 1
}
