{
    "type": "doc",
    "content": [
        {
            "type": "layoutSection",
            "attrs": {
                "localId": "70053f42-b805-4e9c-9026-062da65df49c"
            },
            "marks": [
                {
                    "type": "breakout",
                    "attrs": {
                        "mode": "wide",
                        "width": 1800
                    }
                }
            ],
            "content": [
                {
                    "type": "layoutColumn",
                    "attrs": {
                        "width": 33.33,
                        "localId": "8f976eb5-c731-4803-8a6d-4673f9389ab0"
                    },
                    "content": [
                        {
                            "type": "heading",
                            "attrs": {
                                "level": 2,
                                "localId": "19c07aa6-5533-4c5a-b12a-4126038c724f"
                            },
                            "content": [
                                {
                                    "text": "Pages",
                                    "type": "text"
                                }
                            ]
                        },
                        {
                            "type": "extension",
                            "attrs": {
                                "layout": "default",
                                "extensionType": "com.atlassian.confluence.macro.core",
                                "extensionKey": "children",
                                "parameters": {
                                    "macroParams": {
                                        "allChildren": {
                                            "value": "true"
                                        }
                                    },
                                    "macroMetadata": {
                                        "macroId": {
                                            "value": "937de3d1-c8ee-42f0-87f2-bc308608e19b"
                                        },
                                        "schemaVersion": {
                                            "value": "2"
                                        },
                                        "title": "Child pages"
                                    }
                                },
                                "localId": "2ac0e54e-009b-4e7e-8ba3-9ef326001e9c"
                            }
                        }
                    ]
                },
                {
                    "type": "layoutColumn",
                    "attrs": {
                        "width": 33.33,
                        "localId": "ac335a8b-434c-4b38-8a2d-b9ccf9052fb5"
                    },
                    "content": [
                        {
                            "type": "heading",
                            "attrs": {
                                "level": 2,
                                "localId": "a4970b60-4848-439f-9b79-f211612edde8"
                            },
                            "content": [
                                {
                                    "text": "Contacts",
                                    "type": "text"
                                }
                            ]
                        },
                        {
                            "type": "table",
                            "attrs": {
                                "layout": "align-start",
                                "width": 1800.0,
                                "localId": "5cb1e429-3bb9-4598-a797-f4aaf6df87e5"
                            },
                            "content": [
                                {
                                    "type": "tableRow",
                                    "attrs": {
                                        "localId": "b4cbf25f-3988-4558-a4f5-7c3bdb2a01a6"
                                    },
                                    "content": [
                                        {
                                            "type": "tableHeader",
                                            "attrs": {
                                                "colspan": 1,
                                                "background": "#deebff",
                                                "rowspan": 1,
                                                "colwidth": [
                                                    125.0
                                                ],
                                                "localId": "cda9cae1-7b61-4f73-9b84-c654a101e069"
                                            },
                                            "content": [
                                                {
                                                    "type": "paragraph",
                                                    "attrs": {
                                                        "localId": "1c6f9844-d130-42f4-9d74-377eb1fae451"
                                                    },
                                                    "content": [
                                                        {
                                                            "text": "Project lead",
                                                            "type": "text"
                                                        }
                                                    ]
                                                }
                                            ]
                                        },
                                        {
                                            "type": "tableCell",
                                            "attrs": {
                                                "colspan": 1,
                                                "rowspan": 1,
                                                "colwidth": [
                                                    418.0
                                                ],
                                                "localId": "3c1b8f9c-b22e-4e75-8953-78b28a0ebf7b"
                                            },
                                            "content": [
                                                {
                                                    "type": "paragraph",
                                                    "attrs": {
                                                        "localId": "f63a9aa6-2f9f-46c9-a135-1707647ca585"
                                                    },
                                                    "content": [
                                                        {
                                                            "type": "mention",
                                                            "attrs": {
                                                                "id": "{{ project_lead_account_id }}",
                                                                "localId": "e01b30ef-ac2e-4b97-b313-1329d0567f77",
                                                                "text": "{{ project_lead_account_name }}"
                                                            }
                                                        },
                                                        {
                                                            "text": " ",
                                                            "type": "text"
                                                        }
                                                    ]
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "type": "tableRow",
                                    "attrs": {
                                        "localId": "37c93949-53fb-424f-8cac-ba939e120462"
                                    },
                                    "content": [
                                        {
                                            "type": "tableHeader",
                                            "attrs": {
                                                "colspan": 1,
                                                "background": "#deebff",
                                                "rowspan": 1,
                                                "colwidth": [
                                                    125.0
                                                ],
                                                "localId": "639f14b0-8392-4dbb-82f0-0939ba6648a6"
                                            },
                                            "content": [
                                                {
                                                    "type": "paragraph",
                                                    "attrs": {
                                                        "localId": "66613f8a-e824-4d5f-b033-fc03df05abfe"
                                                    },
                                                    "content": [
                                                        {
                                                            "text": "{{ customer_name }}",
                                                            "type": "text"
                                                        }
                                                    ]
                                                }
                                            ]
                                        },
                                        {
                                            "type": "tableCell",
                                            "attrs": {
                                                "colspan": 1,
                                                "rowspan": 1,
                                                "colwidth": [
                                                    418.0
                                                ],
                                                "localId": "a0398759-4692-4d7e-b9ac-b463ea12505b"
                                            },
                                            "content": [
                                                {
                                                    "type": "paragraph",
                                                    "attrs": {
                                                        "localId": "93df05ac-c8fe-4638-97c0-03521eeff78b"
                                                    },
                                                    "content": [
                                                        {
                                                            "text": "{{ customer_contact }}",
                                                            "type": "text"
                                                        }
                                                    ]
                                                },
                                                {
                                                    "type": "paragraph",
                                                    "attrs": {
                                                        "localId": "6e341cc2-12ff-453b-8288-407d1bb80e1b"
                                                    },
                                                    "content": [
                                                        {
                                                            "text": "Contact",
                                                            "type": "text"
                                                        }
                                                    ]
                                                },
                                                {
                                                    "type": "paragraph",
                                                    "attrs": {
                                                        "localId": "fca08b0d-07c6-4e28-a54c-c4c12aa50e37"
                                                    },
                                                    "content": [
                                                        {
                                                            "text": "{{ customer_street }}",
                                                            "type": "text"
                                                        }
                                                    ]
                                                },
                                                {
                                                    "type": "paragraph",
                                                    "attrs": {
                                                        "localId": "210413e7-12e8-4068-903d-56dda3239bb9"
                                                    },
                                                    "content": [
                                                        {
                                                            "text": "{{ customer_city }}",
                                                            "type": "text"
                                                        }
                                                    ]
                                                },
                                                {
                                                    "type": "paragraph",
                                                    "attrs": {
                                                        "localId": "7f1ec210-01d6-4efb-b692-cba10f67ac92"
                                                    },
                                                    "content": [
                                                        {
                                                            "text": "{{ customer_contact_phone }}",
                                                            "type": "text"
                                                        }
                                                    ]
                                                },
                                                {
                                                    "type": "paragraph",
                                                    "attrs": {
                                                        "localId": "3b64a261-2e98-4a2a-8d22-f3b4cb6a5f2d"
                                                    },
                                                    "content": [
                                                        {
                                                            "text": "{{ customer_contact_mail }}",
                                                            "type": "text",
                                                            "marks": [
                                                                {
                                                                    "type": "link",
                                                                    "attrs": {
                                                                        "href": "mailto:{{ customer_contact_mail }}"
                                                                    }
                                                                }
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                },
                {
                    "type": "layoutColumn",
                    "attrs": {
                        "width": 33.33,
                        "localId": "94a7f562-eefc-4475-b3e3-b6e6b06015e5"
                    },
                    "content": [
                        {
                            "type": "heading",
                            "attrs": {
                                "level": 2,
                                "localId": "cf9444a1-fd60-4786-b0cb-be6b43b9e07b"
                            },
                            "content": [
                                {
                                    "text": "Links",
                                    "type": "text"
                                }
                            ]
                        },
                        {
                            "type": "table",
                            "attrs": {
                                "layout": "align-start",
                                "width": 1800.0,
                                "localId": "a2830122-1dfc-4afe-b607-73105f4ed4ba"
                            },
                            "content": [
                                {
                                    "type": "tableRow",
                                    "attrs": {
                                        "localId": "926216a2-7ebf-41fd-b8bb-b2068ff7d9a4"
                                    },
                                    "content": [
                                        {
                                            "type": "tableHeader",
                                            "attrs": {
                                                "colspan": 1,
                                                "background": "#deebff",
                                                "rowspan": 1,
                                                "colwidth": [
                                                    130.0
                                                ],
                                                "localId": "0f5a34ff-84b8-40ee-a0e8-767647639ae1"
                                            },
                                            "content": [
                                                {
                                                    "type": "paragraph",
                                                    "attrs": {
                                                        "localId": "b021fe85-a220-42f3-b283-9ecfee21672f"
                                                    },
                                                    "content": [
                                                        {
                                                            "text": "Jira",
                                                            "type": "text"
                                                        }
                                                    ]
                                                }
                                            ]
                                        },
                                        {
                                            "type": "tableCell",
                                            "attrs": {
                                                "colspan": 1,
                                                "rowspan": 1,
                                                "colwidth": [
                                                    413.0
                                                ],
                                                "localId": "b98d3a50-25e7-46d1-9ca1-c94d63a164ab"
                                            },
                                            "content": [
                                                {
                                                    "type": "paragraph",
                                                    "attrs": {
                                                        "localId": "2daf01e5-b5e7-42a1-903e-d56e39676622"
                                                    },
                                                    "content": [
                                                        {
                                                            "text": "{{ jira_link_text }}",
                                                            "type": "text",
                                                            "marks": [
                                                                {
                                                                    "type": "link",
                                                                    "attrs": {
                                                                        "href": "{{ jira_link }}"
                                                                    }
                                                                }
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "type": "tableRow",
                                    "attrs": {
                                        "localId": "a588e3af-64ab-49b0-91f3-250ec9cda788"
                                    },
                                    "content": [
                                        {
                                            "type": "tableHeader",
                                            "attrs": {
                                                "colspan": 1,
                                                "background": "#deebff",
                                                "rowspan": 1,
                                                "colwidth": [
                                                    130.0
                                                ],
                                                "localId": "086bdf5d-5b9b-4fb1-96fe-1a14ac2eb7ae"
                                            },
                                            "content": [
                                                {
                                                    "type": "paragraph",
                                                    "attrs": {
                                                        "localId": "fb73e1a9-c00a-4259-a141-677fc1174ea1"
                                                    },
                                                    "content": [
                                                        {
                                                            "text": "Sharepoint",
                                                            "type": "text"
                                                        }
                                                    ]
                                                }
                                            ]
                                        },
                                        {
                                            "type": "tableCell",
                                            "attrs": {
                                                "colspan": 1,
                                                "rowspan": 1,
                                                "colwidth": [
                                                    413.0
                                                ],
                                                "localId": "8e47f2d2-b9a8-4871-a6e3-e1f50a6dd8c6"
                                            },
                                            "content": [
                                                {
                                                    "type": "paragraph",
                                                    "attrs": {
                                                        "localId": "6fa120ef-4f39-43ab-8d0e-af4dda7b92d8"
                                                    },
                                                    "content": [
                                                        {
                                                            "text": "{{ sharepoint_link_text }}",
                                                            "type": "text",
                                                            "marks": [
                                                                {
                                                                    "type": "link",
                                                                    "attrs": {
                                                                        "href": "{{ sharepoint_link }}"
                                                                    }
                                                                }
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "type": "tableRow",
                                    "attrs": {
                                        "localId": "e798ca0d-4fb7-42cb-9d8e-9904fe5257d9"
                                    },
                                    "content": [
                                        {
                                            "type": "tableHeader",
                                            "attrs": {
                                                "colspan": 1,
                                                "background": "#deebff",
                                                "rowspan": 1,
                                                "colwidth": [
                                                    130.0
                                                ],
                                                "localId": "7a3f8339-799e-405a-a56f-e8775df0c84c"
                                            },
                                            "content": [
                                                {
                                                    "type": "paragraph",
                                                    "attrs": {
                                                        "localId": "d5e34658-6c54-4a63-ae18-862f6da8dc32"
                                                    },
                                                    "content": [
                                                        {
                                                            "text": "Dropbox",
                                                            "type": "text"
                                                        }
                                                    ]
                                                }
                                            ]
                                        },
                                        {
                                            "type": "tableCell",
                                            "attrs": {
                                                "colspan": 1,
                                                "rowspan": 1,
                                                "colwidth": [
                                                    413.0
                                                ],
                                                "localId": "55217b62-5dab-410f-a00b-02715bacace6"
                                            },
                                            "content": [
                                                {
                                                    "type": "paragraph",
                                                    "attrs": {
                                                        "localId": "16febf72-b88d-4b38-8cba-3a3a3d39d438"
                                                    },
                                                    "content": [
                                                        {
                                                            "text": "{{ dropbox_link_text }}",
                                                            "type": "text",
                                                            "marks": [
                                                                {
                                                                    "type": "link",
                                                                    "attrs": {
                                                                        "href": "{{ dropbox_link }}"
                                                                    }
                                                                }
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "type": "tableRow",
                                    "attrs": {
                                        "localId": "66fccc4d-7f31-4277-827b-61a9031afd08"
                                    },
                                    "content": [
                                        {
                                            "type": "tableHeader",
                                            "attrs": {
                                                "colspan": 1,
                                                "background": "#deebff",
                                                "rowspan": 1,
                                                "colwidth": [
                                                    130.0
                                                ],
                                                "localId": "a06bbf05-086d-4fc9-b0a6-f052641cc8ee"
                                            },
                                            "content": [
                                                {
                                                    "type": "paragraph",
                                                    "attrs": {
                                                        "localId": "50f06049-e795-4073-9d6b-6f6148128f6d"
                                                    },
                                                    "content": [
                                                        {
                                                            "text": "Passwordstate",
                                                            "type": "text"
                                                        }
                                                    ]
                                                }
                                            ]
                                        },
                                        {
                                            "type": "tableCell",
                                            "attrs": {
                                                "colspan": 1,
                                                "rowspan": 1,
                                                "colwidth": [
                                                    413.0
                                                ],
                                                "localId": "eae55240-b268-48d2-8282-489bb81c6a37"
                                            },
                                            "content": [
                                                {
                                                    "type": "paragraph",
                                                    "attrs": {
                                                        "localId": "db96160f-f9b6-48ce-b57c-32b2d765ecce"
                                                    },
                                                    "content": [
                                                        {
                                                            "text": "{{ passwordstate_link_text }}",
                                                            "type": "text",
                                                            "marks": [
                                                                {
                                                                    "type": "link",
                                                                    "attrs": {
                                                                        "href": "{{ passwordstate_link }}"
                                                                    }
                                                                }
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                }
            ]
        },
        {
            "type": "rule",
            "attrs": {
                "localId": "fdd330bb-256d-47e4-8a9e-05107544f94a"
            }
        },
        {
            "type": "layoutSection",
            "attrs": {
                "localId": "638b0ead-2e7a-4039-b157-b86e55eae584"
            },
            "marks": [
                {
                    "type": "breakout",
                    "attrs": {
                        "mode": "wide",
                        "width": 1800
                    }
                }
            ],
            "content": [
                {
                    "type": "layoutColumn",
                    "attrs": {
                        "width": 50.0,
                        "localId": "5b41407b-b8a3-48ab-9b01-f9fc280b8886"
                    },
                    "content": [
                        {
                            "type": "heading",
                            "attrs": {
                                "level": 2,
                                "localId": "49fc37ec-67ca-4aee-b723-8b39de71a245"
                            },
                            "content": [
                                {
                                    "text": "Informationen",
                                    "type": "text"
                                }
                            ]
                        },
                        {
                            "type": "table",
                            "attrs": {
                                "layout": "align-start",
                                "width": 1800.0,
                                "localId": "79aa0b60-be0a-478f-8868-86bde024e290"
                            },
                            "content": [
                                {
                                    "type": "tableRow",
                                    "attrs": {
                                        "localId": "c1f57b76-e1ee-4d41-a603-28d3e7822e50"
                                    },
                                    "content": [
                                        {
                                            "type": "tableHeader",
                                            "attrs": {
                                                "colspan": 1,
                                                "background": "#deebff",
                                                "rowspan": 1,
                                                "colwidth": [
                                                    178.0
                                                ],
                                                "localId": "fad40373-f7b1-4d1e-b5aa-e77d31145d0f"
                                            },
                                            "content": [
                                                {
                                                    "type": "paragraph",
                                                    "attrs": {
                                                        "localId": "83518e64-ab99-4b5f-b484-8ae563aca029"
                                                    },
                                                    "content": [
                                                        {
                                                            "text": "Aufgabe",
                                                            "type": "text",
                                                            "marks": [
                                                                {
                                                                    "type": "strong"
                                                                }
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ]
                                        },
                                        {
                                            "type": "tableCell",
                                            "attrs": {
                                                "colspan": 1,
                                                "rowspan": 1,
                                                "colwidth": [
                                                    669.0
                                                ],
                                                "localId": "c3e9e6e0-0b52-4085-b1f9-5ffe6d25fb1b"
                                            },
                                            "content": [
                                                {
                                                    "type": "paragraph",
                                                    "attrs": {
                                                        "localId": "1ee3d163-f8fb-4557-8253-cf613447f4a7"
                                                    }
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "type": "tableRow",
                                    "attrs": {
                                        "localId": "cbf82205-4be1-4308-be00-00f79c150191"
                                    },
                                    "content": [
                                        {
                                            "type": "tableHeader",
                                            "attrs": {
                                                "colspan": 1,
                                                "background": "#deebff",
                                                "rowspan": 1,
                                                "colwidth": [
                                                    178.0
                                                ],
                                                "localId": "f3f8de69-9247-4d9e-bccf-c3e37677bb7a"
                                            },
                                            "content": [
                                                {
                                                    "type": "paragraph",
                                                    "attrs": {
                                                        "localId": "d6c998a5-a2f1-41a1-b489-1ba0d50ccae6"
                                                    },
                                                    "content": [
                                                        {
                                                            "text": "Zielsetzung",
                                                            "type": "text",
                                                            "marks": [
                                                                {
                                                                    "type": "strong"
                                                                }
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ]
                                        },
                                        {
                                            "type": "tableCell",
                                            "attrs": {
                                                "colspan": 1,
                                                "rowspan": 1,
                                                "colwidth": [
                                                    669.0
                                                ],
                                                "localId": "a26996ef-a732-4488-8e88-7c67c36e701a"
                                            },
                                            "content": [
                                                {
                                                    "type": "paragraph",
                                                    "attrs": {
                                                        "localId": "52ea07f5-af1e-46ca-a113-3ebe310d0324"
                                                    }
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "type": "tableRow",
                                    "attrs": {
                                        "localId": "5b0de6f8-2e09-4f84-9fb7-56d5d1880b54"
                                    },
                                    "content": [
                                        {
                                            "type": "tableHeader",
                                            "attrs": {
                                                "colspan": 1,
                                                "background": "#deebff",
                                                "rowspan": 1,
                                                "colwidth": [
                                                    178.0
                                                ],
                                                "localId": "9d563e45-0c4e-4ca7-b33c-f6573bcc48c9"
                                            },
                                            "content": [
                                                {
                                                    "type": "paragraph",
                                                    "attrs": {
                                                        "localId": "c5533b17-df66-4379-878b-5af606da8317"
                                                    },
                                                    "content": [
                                                        {
                                                            "text": "Zielgruppe",
                                                            "type": "text",
                                                            "marks": [
                                                                {
                                                                    "type": "strong"
                                                                }
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ]
                                        },
                                        {
                                            "type": "tableCell",
                                            "attrs": {
                                                "colspan": 1,
                                                "rowspan": 1,
                                                "colwidth": [
                                                    669.0
                                                ],
                                                "localId": "1ce530ec-5466-40a8-9724-b767ec49dc9a"
                                            },
                                            "content": [
                                                {
                                                    "type": "paragraph",
                                                    "attrs": {
                                                        "localId": "8a7f4078-0539-4049-aa58-99fb7ee473c2"
                                                    }
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "type": "tableRow",
                                    "attrs": {
                                        "localId": "892cddf2-a1cf-435a-9983-2ea60801a844"
                                    },
                                    "content": [
                                        {
                                            "type": "tableHeader",
                                            "attrs": {
                                                "colspan": 1,
                                                "background": "#deebff",
                                                "rowspan": 1,
                                                "colwidth": [
                                                    178.0
                                                ],
                                                "localId": "b773281e-0e63-4ead-bdc4-c0bc7920f532"
                                            },
                                            "content": [
                                                {
                                                    "type": "paragraph",
                                                    "attrs": {
                                                        "localId": "3191a82d-dd05-4c78-a470-dccef4d8271e"
                                                    },
                                                    "content": [
                                                        {
                                                            "text": "Kontext",
                                                            "type": "text",
                                                            "marks": [
                                                                {
                                                                    "type": "strong"
                                                                }
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ]
                                        },
                                        {
                                            "type": "tableCell",
                                            "attrs": {
                                                "colspan": 1,
                                                "rowspan": 1,
                                                "colwidth": [
                                                    669.0
                                                ],
                                                "localId": "60337a88-4752-4cc8-ba48-80466293b02e"
                                            },
                                            "content": [
                                                {
                                                    "type": "paragraph",
                                                    "attrs": {
                                                        "localId": "96849e24-762a-494f-a58a-f49a81183398"
                                                    }
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "type": "tableRow",
                                    "attrs": {
                                        "localId": "1cf81fed-a497-433e-b389-db6f4f3323d5"
                                    },
                                    "content": [
                                        {
                                            "type": "tableHeader",
                                            "attrs": {
                                                "colspan": 1,
                                                "background": "#deebff",
                                                "rowspan": 1,
                                                "colwidth": [
                                                    178.0
                                                ],
                                                "localId": "fc080ec4-c689-4cb8-a7cd-0001b1f888cc"
                                            },
                                            "content": [
                                                {
                                                    "type": "paragraph",
                                                    "attrs": {
                                                        "localId": "6f0cacd0-a4ed-454e-8ad1-8f123bd7a540"
                                                    },
                                                    "content": [
                                                        {
                                                            "text": "Auflage",
                                                            "type": "text",
                                                            "marks": [
                                                                {
                                                                    "type": "strong"
                                                                }
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ]
                                        },
                                        {
                                            "type": "tableCell",
                                            "attrs": {
                                                "colspan": 1,
                                                "rowspan": 1,
                                                "colwidth": [
                                                    669.0
                                                ],
                                                "localId": "5567da91-fa1f-44d6-849b-ceebddad46be"
                                            },
                                            "content": [
                                                {
                                                    "type": "paragraph",
                                                    "attrs": {
                                                        "localId": "f5e5f42a-48d2-4ade-85e2-239253b496a7"
                                                    }
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "type": "tableRow",
                                    "attrs": {
                                        "localId": "ea0d1076-5eca-4715-8936-afa708ee134b"
                                    },
                                    "content": [
                                        {
                                            "type": "tableHeader",
                                            "attrs": {
                                                "colspan": 1,
                                                "background": "#deebff",
                                                "rowspan": 1,
                                                "colwidth": [
                                                    178.0
                                                ],
                                                "localId": "5029b214-dbb2-41ca-9412-6485b25def6c"
                                            },
                                            "content": [
                                                {
                                                    "type": "paragraph",
                                                    "attrs": {
                                                        "localId": "061bf8cc-ffe6-422c-bacc-587448889065"
                                                    },
                                                    "content": [
                                                        {
                                                            "text": "Budget",
                                                            "type": "text",
                                                            "marks": [
                                                                {
                                                                    "type": "strong"
                                                                }
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ]
                                        },
                                        {
                                            "type": "tableCell",
                                            "attrs": {
                                                "colspan": 1,
                                                "rowspan": 1,
                                                "colwidth": [
                                                    669.0
                                                ],
                                                "localId": "b248750b-956b-4e1d-b4a2-9fdd6698277e"
                                            },
                                            "content": [
                                                {
                                                    "type": "paragraph",
                                                    "attrs": {
                                                        "localId": "7892e3ee-349d-423a-9feb-6b98b70c3de4"
                                                    }
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                },
                {
                    "type": "layoutColumn",
                    "attrs": {
                        "width": 50.0,
                        "localId": "001d49d0-7629-402a-a323-459855796777"
                    },
                    "content": [
                        {
                            "type": "heading",
                            "attrs": {
                                "level": 2,
                                "localId": "ad9f1e9a-0af7-4b96-bd98-bbff4e990447"
                            },
                            "content": [
                                {
                                    "text": "Zeitplanung",
                                    "type": "text"
                                }
                            ]
                        },
                        {
                            "type": "table",
                            "attrs": {
                                "layout": "align-start",
                                "width": 1800.0,
                                "localId": "37d9737d-a544-411e-97bf-14bd11d9be3b"
                            },
                            "content": [
                                {
                                    "type": "tableRow",
                                    "attrs": {
                                        "localId": "3e48b4d5-786c-439f-8882-e32452ea0c3e"
                                    },
                                    "content": [
                                        {
                                            "type": "tableHeader",
                                            "attrs": {
                                                "colspan": 1,
                                                "background": "#deebff",
                                                "rowspan": 1,
                                                "colwidth": [
                                                    523.0
                                                ],
                                                "localId": "f43a08e6-c130-457b-a213-6f208f322bab"
                                            },
                                            "content": [
                                                {
                                                    "type": "paragraph",
                                                    "attrs": {
                                                        "localId": "cc210f01-38bd-4564-9cfa-c00d372d7dee"
                                                    },
                                                    "marks": [
                                                        {
                                                            "type": "alignment",
                                                            "attrs": {
                                                                "align": "center"
                                                            }
                                                        }
                                                    ],
                                                    "content": [
                                                        {
                                                            "text": "ToDo",
                                                            "type": "text",
                                                            "marks": [
                                                                {
                                                                    "type": "strong"
                                                                }
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ]
                                        },
                                        {
                                            "type": "tableHeader",
                                            "attrs": {
                                                "colspan": 1,
                                                "background": "#deebff",
                                                "rowspan": 1,
                                                "colwidth": [
                                                    139.0
                                                ],
                                                "localId": "a11856cd-5867-4c17-af43-b490b7801b5a"
                                            },
                                            "content": [
                                                {
                                                    "type": "paragraph",
                                                    "attrs": {
                                                        "localId": "18c6a4cf-f76a-4347-bf1e-76874c614930"
                                                    },
                                                    "marks": [
                                                        {
                                                            "type": "alignment",
                                                            "attrs": {
                                                                "align": "center"
                                                            }
                                                        }
                                                    ],
                                                    "content": [
                                                        {
                                                            "text": "Datum",
                                                            "type": "text",
                                                            "marks": [
                                                                {
                                                                    "type": "strong"
                                                                }
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ]
                                        },
                                        {
                                            "type": "tableHeader",
                                            "attrs": {
                                                "colspan": 1,
                                                "background": "#deebff",
                                                "rowspan": 1,
                                                "colwidth": [
                                                    185.0
                                                ],
                                                "localId": "6d7bc176-0cf4-42ef-aa56-c72659ce6294"
                                            },
                                            "content": [
                                                {
                                                    "type": "paragraph",
                                                    "attrs": {
                                                        "localId": "19f0f7f4-910d-4fcf-aab3-62ad268daacf"
                                                    },
                                                    "marks": [
                                                        {
                                                            "type": "alignment",
                                                            "attrs": {
                                                                "align": "center"
                                                            }
                                                        }
                                                    ],
                                                    "content": [
                                                        {
                                                            "text": "Verantwortlich",
                                                            "type": "text",
                                                            "marks": [
                                                                {
                                                                    "type": "strong"
                                                                }
                                                            ]
                                                        }
                                                    ]
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "type": "tableRow",
                                    "attrs": {
                                        "localId": "2e65cf92-b85d-4999-b0b5-3c5dad94d8fd"
                                    },
                                    "content": [
                                        {
                                            "type": "tableCell",
                                            "attrs": {
                                                "colspan": 1,
                                                "rowspan": 1,
                                                "colwidth": [
                                                    523.0
                                                ],
                                                "localId": "63d62e78-0325-4e9b-a5d3-e2d74f4cfd7c"
                                            },
                                            "content": [
                                                {
                                                    "type": "paragraph",
                                                    "attrs": {
                                                        "localId": "182ba22e-050d-49d8-a288-2526d2ed7104"
                                                    }
                                                }
                                            ]
                                        },
                                        {
                                            "type": "tableCell",
                                            "attrs": {
                                                "colspan": 1,
                                                "rowspan": 1,
                                                "colwidth": [
                                                    139.0
                                                ],
                                                "localId": "b98a122b-510e-42bc-ae07-d854efd750e9"
                                            },
                                            "content": [
                                                {
                                                    "type": "paragraph",
                                                    "attrs": {
                                                        "localId": "a5285600-7031-4801-a152-5dd9cb4a8c97"
                                                    }
                                                }
                                            ]
                                        },
                                        {
                                            "type": "tableCell",
                                            "attrs": {
                                                "colspan": 1,
                                                "rowspan": 1,
                                                "colwidth": [
                                                    185.0
                                                ],
                                                "localId": "03d787af-1726-42df-9726-1c77811ce63d"
                                            },
                                            "content": [
                                                {
                                                    "type": "paragraph",
                                                    "attrs": {
                                                        "localId": "012165fd-6ab5-4b08-ab12-65b1f8e3fd1c"
                                                    }
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "type": "tableRow",
                                    "attrs": {
                                        "localId": "535e6640-d919-41b5-bffa-26d306443aa5"
                                    },
                                    "content": [
                                        {
                                            "type": "tableCell",
                                            "attrs": {
                                                "colspan": 1,
                                                "rowspan": 1,
                                                "colwidth": [
                                                    523.0
                                                ],
                                                "localId": "a5315fa6-b556-4bae-a8c6-a37942135d8b"
                                            },
                                            "content": [
                                                {
                                                    "type": "paragraph",
                                                    "attrs": {
                                                        "localId": "1eb9ca54-35fb-4779-be57-8eb7a0e7faed"
                                                    }
                                                }
                                            ]
                                        },
                                        {
                                            "type": "tableCell",
                                            "attrs": {
                                                "colspan": 1,
                                                "rowspan": 1,
                                                "colwidth": [
                                                    139.0
                                                ],
                                                "localId": "b791a394-926d-4356-8a67-6b2f1f2cd311"
                                            },
                                            "content": [
                                                {
                                                    "type": "paragraph",
                                                    "attrs": {
                                                        "localId": "af44d058-6bb3-4a07-a2ff-2abe82a2352e"
                                                    }
                                                }
                                            ]
                                        },
                                        {
                                            "type": "tableCell",
                                            "attrs": {
                                                "colspan": 1,
                                                "rowspan": 1,
                                                "colwidth": [
                                                    185.0
                                                ],
                                                "localId": "30353b71-a550-48fe-870c-59a07086fc12"
                                            },
                                            "content": [
                                                {
                                                    "type": "paragraph",
                                                    "attrs": {
                                                        "localId": "a6df7a99-67a9-454b-86b4-b438d460e664"
                                                    }
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "type": "tableRow",
                                    "attrs": {
                                        "localId": "e2072192-e3f3-47f3-a62d-978eaaa32379"
                                    },
                                    "content": [
                                        {
                                            "type": "tableCell",
                                            "attrs": {
                                                "colspan": 1,
                                                "rowspan": 1,
                                                "colwidth": [
                                                    523.0
                                                ],
                                                "localId": "6161ab70-dfc3-4e3c-83e4-0e13cebbf9d5"
                                            },
                                            "content": [
                                                {
                                                    "type": "paragraph",
                                                    "attrs": {
                                                        "localId": "10666e2b-39f4-4c1f-aac4-ac23e58110b6"
                                                    }
                                                }
                                            ]
                                        },
                                        {
                                            "type": "tableCell",
                                            "attrs": {
                                                "colspan": 1,
                                                "rowspan": 1,
                                                "colwidth": [
                                                    139.0
                                                ],
                                                "localId": "515042bf-638a-4054-a19e-0b80f40b54eb"
                                            },
                                            "content": [
                                                {
                                                    "type": "paragraph",
                                                    "attrs": {
                                                        "localId": "2ff43916-1e4c-47db-a406-86fe9f375870"
                                                    }
                                                }
                                            ]
                                        },
                                        {
                                            "type": "tableCell",
                                            "attrs": {
                                                "colspan": 1,
                                                "rowspan": 1,
                                                "colwidth": [
                                                    185.0
                                                ],
                                                "localId": "de257482-16dd-4dc1-804a-0d45258e518c"
                                            },
                                            "content": [
                                                {
                                                    "type": "paragraph",
                                                    "attrs": {
                                                        "localId": "daaaef81-1f0f-4099-b59e-3e56eff51664"
                                                    }
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "type": "tableRow",
                                    "attrs": {
                                        "localId": "fe8e9e38-2f38-40ef-9ef0-68ed8fabca09"
                                    },
                                    "content": [
                                        {
                                            "type": "tableCell",
                                            "attrs": {
                                                "colspan": 1,
                                                "rowspan": 1,
                                                "colwidth": [
                                                    523.0
                                                ],
                                                "localId": "f574524d-9dae-4d9e-9c46-eef35c97df88"
                                            },
                                            "content": [
                                                {
                                                    "type": "paragraph",
                                                    "attrs": {
                                                        "localId": "ead971b9-a3a5-48c9-b003-93ad86dc6683"
                                                    }
                                                }
                                            ]
                                        },
                                        {
                                            "type": "tableCell",
                                            "attrs": {
                                                "colspan": 1,
                                                "rowspan": 1,
                                                "colwidth": [
                                                    139.0
                                                ],
                                                "localId": "1dec404d-b5ea-4088-9448-b17c998c971a"
                                            },
                                            "content": [
                                                {
                                                    "type": "paragraph",
                                                    "attrs": {
                                                        "localId": "58cf7af9-ca1c-4ad8-99e7-ee490a918cc7"
                                                    }
                                                }
                                            ]
                                        },
                                        {
                                            "type": "tableCell",
                                            "attrs": {
                                                "colspan": 1,
                                                "rowspan": 1,
                                                "colwidth": [
                                                    185.0
                                                ],
                                                "localId": "3d50dcb5-9a5e-4319-95e1-d3ee553d6e96"
                                            },
                                            "content": [
                                                {
                                                    "type": "paragraph",
                                                    "attrs": {
                                                        "localId": "fbb43fc6-6a0d-4ff4-9950-0896756bfa7e"
                                                    }
                                                }
                                            ]
                                        }
                                    ]
                                },
                                {
                                    "type": "tableRow",
                                    "attrs": {
                                        "localId": "6b9bfbee-8f73-4646-9bdd-06e3ad9221f7"
                                    },
                                    "content": [
                                        {
                                            "type": "tableCell",
                                            "attrs": {
                                                "colspan": 1,
                                                "rowspan": 1,
                                                "colwidth": [
                                                    523.0
                                                ],
                                                "localId": "a8404ae7-3db8-4d54-8813-25fead59835e"
                                            },
                                            "content": [
                                                {
                                                    "type": "paragraph",
                                                    "attrs": {
                                                        "localId": "e8acb9a1-f9a5-471c-a6ac-7ec24fcfe375"
                                                    }
                                                }
                                            ]
                                        },
                                        {
                                            "type": "tableCell",
                                            "attrs": {
                                                "colspan": 1,
                                                "rowspan": 1,
                                                "colwidth": [
                                                    139.0
                                                ],
                                                "localId": "d6365dd9-6f8f-4f29-8901-005cd3bb075a"
                                            },
                                            "content": [
                                                {
                                                    "type": "paragraph",
                                                    "attrs": {
                                                        "localId": "3fcf0bcd-4da7-438e-85db-3d02a2c304d1"
                                                    }
                                                }
                                            ]
                                        },
                                        {
                                            "type": "tableCell",
                                            "attrs": {
                                                "colspan": 1,
                                                "rowspan": 1,
                                                "colwidth": [
                                                    185.0
                                                ],
                                                "localId": "9414ec15-0d21-48dc-8d72-ad90edb9f8bc"
                                            },
                                            "content": [
                                                {
                                                    "type": "paragraph",
                                                    "attrs": {
                                                        "localId": "19c24922-8e02-41cd-83e6-98fb67aedc8a"
                                                    }
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                }
            ]
        },
        {
            "type": "rule",
            "attrs": {
                "localId": "4aa3e297-1033-43de-b77d-d310e50f2b67"
            }
        },
        {
            "type": "heading",
            "attrs": {
                "level": 2,
                "localId": "0b24dbd4-44c8-4c3b-adcf-ba0ebe59e075"
            },
            "content": [
                {
                    "text": "Jira work items",
                    "type": "text"
                }
            ]
        },
        {
            "type": "blockCard",
            "attrs": {
                "datasource": {
                    "id": "d8b75300-dfda-4519-b6cd-e49abbd50401",
                    "parameters": {
                        "cloudId": "5b2df632-e1f2-429a-b5de-200c0e4a36e3",
                        "jql": "{{ jql_search }}"
                    },
                    "views": [
                        {
                            "type": "table",
                            "properties": {
                                "columns": [
                                    {
                                        "key": "issuetype"
                                    },
                                    {
                                        "key": "key",
                                        "width": 181
                                    },
                                    {
                                        "key": "summary",
                                        "width": 864
                                    },
                                    {
                                        "key": "assignee",
                                        "width": 212
                                    },
                                    {
                                        "key": "priority",
                                        "width": 136
                                    },
                                    {
                                        "key": "status",
                                        "width": 150
                                    },
                                    {
                                        "key": "updated"
                                    }
                                ]
                            }
                        }
                    ]
                },
                "localId": "3b59947c-ba71-4c9f-bbec-e47b7912a60c",
                "url": "{{ jql_link }}"
            }
        },
        {
            "type": "rule",
            "attrs": {
                "localId": "0ae593cc-2235-4ef3-9cb7-1f59502b0605"
            }
        },
        {
            "type": "paragraph",
            "attrs": {
                "localId": "865f4ab7-d3b7-4f6d-aec0-55c93d8374e3"
            }
        },
        {
            "type": "paragraph",
            "attrs": {
                "localId": "3a8bf1de-d9b6-4a16-9b39-c3a6b61061ae"
            }
        }
    ],
    "version": 1
}
